<% layout('layout/boilerplate') %> 
    <h1 >Edit Campground</h1>
    <form  action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="campground[title]" value="<%=campground.title %>">
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" id="location" name="campground[location]" value="<%= campground.location%>">
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">Image</label>
            <input class="form-control" type="text" id="image" name="campground[image]" value="<%= campground.image%>">
        </div>
        <div class="mb-3">
            <label class = "form-label" for="price">Campground Price</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input placeholder="0.0"type="text" class="form-control" id="price" aria-label="Amount (to the nearest dollar)" value="<%= campground.price %> ">
              
            </div>
        </div>
        <div class="mb-3" >
            <label class = "form-label" for="description">Description</label>
            <textarea class = "form-control" type="text" id="description" name="campground[description]"><%= campground.description %> </textarea>
        </div>
        <button class="btn btn-primary mb-3">Update Campground</button>
    </form>
    <a href="/campgrounds/<%= campground._id%>">Back To Campground</a>

